<body>
  <div class="container">
</div>
<h1>Cinematographer</h1>
<hr>

  <section id="editor">
  <iframe src='https://gfycat.com/ifr/AlertBrightEuropeanfiresalamander' frameborder='0' scrolling='no' allowfullscreen width='770' height='480'></iframe>
  </section>
