<body>
  <div class="container">

    <h1>Editor</h1>

    <hr>

    <section id="editor">
      <iframe src='https://gfycat.com/ifr/ImpassionedCheerfulGermanwirehairedpointer' frameborder='0' scrolling='no' allowfullscreen width='770' height='480'></iframe>
    </section>
